<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/">Shortify</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse custom-collapse" id="navbarMenu">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if (locals.user) { %>
         <li class="nav-item"><a class="nav-link" href="/home">Dashboard</a></li>
        <% } else { %>
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="/signup">Signup</a></li>
        <li class="nav-item"><a class="nav-link" href="/login#features">Features</a></li>
         <% } %>
      </ul>
    </div>
  </div>
</nav>
