<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Signup</title>
    <link rel="stylesheet" href="/signup.css">
</head>
<body>
    <header class="navbar">
    <div class="logo">🔗 Shortify</div>
    <nav>
      <a href="/">Home</a>
      <a href="/login">Login</a>
    </nav>
  </header>

    <div class="main-container">
        <div class="login-box">
            <h1>Signup</h1>

            <% if (typeof error !== 'undefined') { %>
                <div class="error"><%= error %></div>
            <% } %>

            <form action="/user" method="POST">
                <label>Full Name</label>
                <input type="text" required name="name" placeholder="Enter your name">

                <label>Email</label>
                <input type="text" required name="email" placeholder="Enter your email">

                <label>Password</label>
                <input type="text" required name="password" placeholder="Create a password">

                <button type="submit">Signup</button>
            </form>

            <p>Already have an account? <a href="/login">Login here</a></p>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; 2025 Shortify | <a href="/privacy">Privacy</a> | <a href="/terms">Terms & Conditions</a> | <a href="/contact">Contact</a></p>
    </footer>
</body>
</html>
