html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navbar {
    width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6a5acd;
  padding: 15px 30px;
  color: white;
  font-weight: bold;
}

.navbar .logo {
  font-size: 1.3em;
}

.navbar nav a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-size: 0.95em;
}

.navbar nav a:hover {
  text-decoration: underline;
}

